body{
    background-color: rgb(17, 184, 235)
}

#ul-first-item{
    color: rgb(255, 0, 0);
}

ul > li{
    /*color: rgb(255, 251, 0) !important;*/
    color: rgb(255, 251, 0) ;
}

.big-div {
    width: 100%;
    height: 200px;
}

.small-div{
    width: 50%;
    height: 100px;
}

.background-red{
    background-color: rgb(255, 0, 0);
}